* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;

}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px;
    background: transparent;
    background-color: rgba(240, 248, 255, 0.625);
}

body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Nunito;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: red;
}

.navlist {
    display: flex;
}

.navlist a {
    color: rgb(0, 0, 0);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
}

#menu-icon {
    color: rgb(255, 0, 0);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


@media(max-width:1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}

@media(max-width:1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media(max-width:1340px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 75px;
        margin: 0 0 30px;

    }

    .hero-text h5 {
        margin-bottom: 25px;
    }
}

@media(max-width:1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text {
        padding-top: 115px;
    }

    .hero-img {
        text-align: center;
    }

    .hero-img img {
        width: 560px;
        height: auto;

    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons {
        display: none;

    }

    .scroll-down {
        display: none;
    }

}

@media (max-width:990px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #57070E;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;

    }

    .navlist a {
        display: block;
        margin-left: 0;
        margin: 7px 0;
    }

    .navlist.open {
        right: 0;
    }

}

@media (max-width:680px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }
}

/* /////////////////////////////////////// */
#id {
    display: flex;
    justify-content: center;
    align-items: center;
}

.libreria {
    display: grid;
    grid-row: 50%;
    background-color: #ffffff97;
    padding: 5rem;
    border-radius:1rem ;
    box-shadow: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.libreria i {
    font-size: 4rem;
    margin: 1rem;
    transition: .55s;
    text-align: center;
}
.libreria i:hover {
    font-size: 5rem;
    margin: 1rem;
    transition: .55s;
}

.libreria a {
    margin: 1rem;
    text-align: center;

}
.libreria a:hover {
    margin: 1rem;
    text-align: left;
}

/* Fondo que cambia */
.bg-image-1 {
    background-image: url('img/land.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-image-2 {
    background-image: url('./img/land1.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-image-3 {
    background-image: url('img/land2.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-image-4 {
    background-image: url('img/land3.png');
    background-repeat: no-repeat;
    background-size: cover;

}

/* PARALLAX */

*,
*::before,
*::after
{
    box-sizing: border-box;
}
main{
    height: 110vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
section{
    transform-style: preserve-3d ;
    position: relative;
    height: 100vh;
    display: felx;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
section h1
{
    text-align: center;
    font-size: 4rem;
}
.no-parallax{
    background-color: #ffffc8;
    z-index: 999;
}






